@import "colors";

.footer { 
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgb(240, 240, 240);
    font-size: small;
    margin-top: 100vh;
    position: absolute;
}

.right {
    float: right;
}